name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}

            git pull origin main

            if [ ! -d ".venv" ]; then
                uv venv .venv
            fi
            
            source .venv/bin/activate
            uv pip install -r requirements.txt

            sudo systemctl restart telegram-bot
